@import url("https://rsms.me/inter/inter-ui.css");
html {
  font-family: "Inter UI", sans-serif !important;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter UI var alt", sans-serif !important;
  }
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #666666;
}

div.container {
  max-width: 500px;
  margin: auto;
}

h1.main-header {
  text-align: center;
}

.h2 {
  height: 0.8em;
  line-height: 0.8em;
  padding-left: 0.5em;
}

ul {
  list-style-type: none;
}
